:root {
  --primario: #9c27b0;
  --primario-oscuro: #89119d;
  --secundario: #ffce00;
  --secundario-oscuro: rgb(233, 287, 2);
  --blanco: #fff;
  --negro: #000;

  --fuente-principal: "Staatliches", cursive;
}

html {
  box-sizing: border-box;
  font-size: 65.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/** GLOBALES **/

body {
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}
a {
  text-decoration: none;
}

img {
  width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuente-principal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/** HEADER **/

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 3rem 0;
}
/** FOOTER **/

.footer {
  background-color: var(--primario-oscuro);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__texto {
  font-family: var(--fuente-principal);
  text-align: center;
  font-size: 2.2rem;
}

/** NAVEGACION **/

.navegacion {
  background-color: var(--primario-oscuro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navegacion__enlace {
  font-family: var(--fuente-principal);
  color: var(--blanco);
  font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
  color: var(--secundario);
}

/** grid **/

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
/** PRODUCTOS **/

.producto {
  background-color: var(--primario-oscuro);
  padding: 1rem;
}

.producto__nombre {
  font-size: 4rem;
}
.producto__precio {
  font-size: 2.8rem;
  color: var(--secundario);
}

.producto__nombre,
.producto__precio {
  font-family: var(--fuente-principal);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

/** Graficos **/

.grafico {
  min-height: 38rem;
  background-size: cover;
  grid-column: 1/3;
}

.grafico--camisas {
  grid-row: 2/3;
  background-image: url(../img/grafico1.jpg);
}

.grafico--node {
  grid-row: 8/9;
  background-image: url(../img/grafico2.jpg);
}

@media (min-width: 768px) {
  .grafico--node {
    grid-row: 5/6;
    grid-column: 2/4;
  }
}

/** Nosotros **/

.nosotros {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
  .nosotros {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.nosotros__imagen {
  grid-row: 1 / 2;
}
@media (min-width: 768px) {
  .nosotros__imagen {
    grid-column: 2 / 3;
  }
}

/** Bloques **/

.bloques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .bloques {
    grid-template-columns: repeat(4, 1fr);
  }
}
.bloque {
  text-align: center;
}

.bloque__titulo {
  margin: 0;
}

/** Pagina del Producto **/

@media (min-width: 768px) {
  .camisa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.formulario {
  width: auto;
  margin: 0 2rem;
  display: grid;
}

@media (min-width: 768px) {
  .formulario {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.formulario__campo {
  border: 1rem solid var(--primario-oscuro);
  background-color: transparent;
  color: var(--blanco) !important;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  appearance: none;
}

.formulario__campo--selected {
  color: var(--negro);
}
.formulario__campo--selected::placeholder {
  color: var(--blanco);
}

.formulario__submit {
  background-color: var(--secundario);
  border: none;
  font-size: 2rem;
  font-family: var(--fuente-principal);
  padding: 2rem;
  transition: background-color 0.3s ease;
  grid-column: 1 / 3;
}

.formulario__submit:hover {
  cursor: pointer;
  background-color: var(--secundario-oscuro);
}
